agama @ file:///an/terra_a/garavito/codes/Agama
astro-nba @ file:///an/terra_a/garavito/codes/nba
astropy==7.1.1
astropy-iers-data==0.2025.10.13.0.37.17
certifi==2025.10.5
charset-normalizer==3.4.4
contourpy==1.3.3
cycler==0.12.1
Cython==3.1.5
fonttools==4.60.1
gala==1.10.1
h5py==3.15.1
healpy==1.18.1
idna==3.11
iniconfig==2.3.0
kiwisolver==1.4.9
llvmlite==0.45.1
matplotlib==3.10.7
mpi4py==4.1.1
numba==0.62.1
numpy==2.3.4
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
pyerfa==2.0.1.5
Pygments==2.19.2
pynbody==2.3.2
pyparsing==3.2.5
pytest==9.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
symlib==1.5.0
tqdm==4.67.1
urllib3==2.5.0
